body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
