body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
}

.top-bar {
  margin-bottom: 15px;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

.hidden {
  display: none;
}

#formContainer {
  background: #f4f4f4;
  padding: 15px;
  margin-top: 10px;
}
